name: Full Flutter CI

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
    - "docs/**"
    - "README.md"
  push:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "docs/**"
      - "README.md"
      - "res/**"
      - "appimage/**"
      - "flatpak/**"

jobs:
  run-ci:
    uses: ./.github/workflows/flutter-build.yml
    with:
      upload-artifact: false
      
  upload-windows-exe:
    needs: run-ci
    runs-on: windows-2022
    if: success()
    steps:
      - uses: actions/upload-artifact@v4
        with:
          name: rustdesk-windows-exe
          path: flutter/build/windows/x64/runner/Release/*.exe
