name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-2022

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"

      - name: Build Windows Release EXE
        run: |
          cd flutter
          flutter pub get
          flutter build windows --release

      - name: Upload EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PdRemote-Windows-EXE
          path: flutter/build/windows/x64/runner/Release/*.exe
